.gpt3__brand {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.gpt3__brand img {
  width: 100px;
}
